.customFileInput {
    background-color: white !important;
    color: #111 !important;
    border: 1px solid #ccc !important;
}

.customFileInput::file-selector-button {
    background-color: #f3f4f6 !important;
    color: #111 !important;
    border: none !important;
    border-radius: 6px !important;
    /*👉   padding: 6px 12px !important;👈*/
}